<!DOCTYPE html>
<html>
  <head>
    <title>Exo 2</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <v-app light>
        <v-content>
          <v-container>
            <v-layout row wrap align-center>
              <v-flex xs12 md3>
                <div class="text-xs-center">
                  <v-avatar size="125px">
                    <img class="img-circle elevation-7 mb-1"   src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_100_100/p/4/005/050/238/0c05195.jpg">
                  </v-avatar>
                  <div class="headline">Matthieu<span style="font-weight:bold"> Hanne</span></div>
                  <div class="subheading text-xs-center grey--text pt-1 pb-3">Je ne pouvais pas rester là-dessus</div>
                </div>
              </v-flex>
              <v-flex xs12 md8 offset-md1 style="overflow:scroll; height:90vh;">
                <div v-for="(post, index) in posts" :key="post.title" @click="focusId = index; dialog = true;" v-if="post.thumbnail">
                  <v-card class="my-3" hover  >
                    <v-card-media class="white--text" height="170px" :src="post.thumbnail">
                      <v-container fill-height fluid>
                        <v-layout>
                          <v-flex xs12 align-end d-flex>
                            <span class="headline" v-html=post.title></span>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card-media>
                  </v-card>
                </div>
              </v-flex>
            </v-layout>
          </v-container>
        </v-content>
        <v-footer class="secondary" app>
          <v-layout row wrap align-center>
            <v-flex xs12>
              <div class="white--text ml-3">
                Exo 2 without loading 
              </div>
            </v-flex>
          </v-layout>
        </v-footer>
        <v-dialog v-model="dialog" fullscreen transition="dialog-bottom-transition" :overlay=false scrollable>
          <v-card>
            <v-toolbar style="flex: 0 0 auto;" dark class="primary">
              <v-btn icon @click.native="dialog = false" dark>
                <v-icon>close</v-icon>
              </v-btn>
              <v-toolbar-title v-html="posts[focusId].title"></v-toolbar-title>
            </v-toolbar>
            <v-card-text v-html="posts[focusId].content">
            </v-card-text>
            <div style="flex: 1 1 auto;"></div>
          </v-card>
        </v-dialog>
      </v-app>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="https://use.fontawesome.com/73c8e2621d.js"></script>
    <script>
      new Vue({
        el: '#app',
        mounted() {
          let url = new URL('https://api.rss2json.com/v1/api.json');
          url.searchParams.append('rss_url', 'https://dev.to/feed');
          fetch(url) 
            .then((response) => response.json())
            .catch((error) => console.error(error))   
            .then(data => {
              console.log(data.items)
              this.posts = data.items
            })
            .catch((error) => console.error(error));   
        },
        data () {
          return {
            focusId: 0,
            dialog: false,
            posts: []
          }
        }
      })
    </script>
  </body>
</html>
